.button {
    background-color: #030213;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
}
input {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    display: block;
    background-color: #f3f3f5;
    border-radius: 5px;
    padding: 0px 8px;
    border: 0px;
    margin-bottom: 15px;
}