/* ========== Global Styles ========== */
.container {
    height: 80vh;
    /* full viewport height */
    display: flex;
    /* enable flexbox */
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
}

/* ========== Layout Container ========== */
.subContainer {
    width: 400px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}

/* ========== Page Heading ========== */
.pageHeading h3 {
    margin-bottom: 5px;
}

.pageHeading span {
    color: #717182;
    font-size: 14px;
}

/* ========== Form Style ========== */
.subContainer .loginForm {
    position: relative;
    top: 25px;
}

.loginForm label {
    font-size: 14px;
    font-weight: 650;
    display: block;
    margin-bottom: 5px;
}

.loginForm input {
    display: block;
    background-color: #f3f3f5;
    border-radius: 5px;
    padding: 0px 8px;
    border: 0px;
    margin-bottom: 15px;
}

.button {
    background-color: #030213 !important;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
}

.loginForm input {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}

/* ========== Guest login and Form Separation ========== */
.line_with_text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

.line_with_text::before,
.line_with_text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #e5e5e5;
    /* line color */
}

.line_with_text span {
    padding: 0 10px;
    /* space around text */
    color: #62748e;
    font-weight: bold;
}

/* ========== Guest button ========== */
button.Guest_button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

button.Guest_button:hover {
    background-color: #f1f1f1;
}

/* ========== Sign Up ========== */
.guestLogin p {
    text-align: center;
    margin: 30px 0px;
    color: #5a697c;
}

/* ========== Mobile Media ========== */
@media screen and (max-width: 480px) {
    .container {
        height: auto;
        padding: 20px;
    }
}